VITE_PORT=5002
VITE_API_BASE_URL=http://localhost:${VITE_PORT}
MONGO_URI=mongodb://minhhoanghtm2004_db_user:ORPvyiK9duxg71SZ@ac-jpovlcq-shard-00-00.ne0u0gu.mongodb.net:27017,ac-jpovlcq-shard-00-01.ne0u0gu.mongodb.net:27017,ac-jpovlcq-shard-00-02.ne0u0gu.mongodb.net:27017/?ssl=true&replicaSet=atlas-6dh6rg-shard-0&authSource=admin&appName=PetShop
